@font-face {
    font-family: "Rollgates Luxury";
    src: url(../fonts/RollgatesLuxury/RollgatesLuxury.otf) format("opentype");
}


@font-face {
    font-family: "Helvetica Neue";
    src: url(../fonts/helvetica-neue-5/HelveticaNeueRoman.otf) format("opentype");
}
@font-face {
    font-family: "Helvetica Neue";
    src: url(../fonts/helvetica-neue-5/HelveticaNeueLight.otf) format("opentype");
}
@font-face {
    font-family: "Helvetica Neue";
    src: url(../fonts/helvetica-neue-5/HelveticaNeueThin.otf) format("opentype");
}



