<div class="flooring_section">
     <h1 class="heading"> Flooring </h1>
     <div class="flooring_details dflex">
        <div class="flooring_details_left"> Stylish, durable, and high-performing flooring is a trademark at Design Unity. We offer a verity of flooring options for residential and commercial purposes. We operate through vertical integration ensuring that our clients receive the complete benefit of our world-class services. From design to distribution, we offer end-to-end services to provide desired outcomes. Our dedication to deliver the best is reflected in the material integrity, quality control and cost management. </div>
        <div class="flooring_details_right">
            <img src="../../assets/img/flooring.png" alt="">
        </div>

     </div>
    
</div>